// Set up your typography settings here (font family, sizes, etc);

$sans-serif = 'Roboto', Arial, sans-serif
$serif      = 'Roboto Slab', Georgia, serif

$font-family = $sans-serif
$font-family-body = $serif

$font-extra-light  = 300
$font-light        = 400
$font-medium       = 500
$font-bold         = 700
$font-extra-bold   = 900

$font-size-global  = 16px

$font-size-xsmall  = 0.6em
$font-size-small   = 0.8em
$font-size-base    = 1em
$font-size-large   = 1.2em
$font-size-xlarge  = 1.5em
$font-size-xxlarge = 2em
