lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

*.sublime*
*.idea*
/.project

*.orig
client/bower_components
.tmp
dist/
obj/
client/assets/css

doc
test/client/reports
